$categories: (
 ionic: var(--ion-color-primary),
 angular: #ac282b,
 communication: #8e8d93,
 tooling: #fe4c52,
 services: #fd8b2d,
 design: #fed035,
 workshop: #69bb7b,
 food: #3bc7c4,
 documentation: #b16be3,
 navigation: #6600cc,
);

page-schedule {
  @each $track, $value in map-remove($categories) {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}

@font-face {
  font-family: "Cabin";
  src: url("assets/img/fonts/Cabin-Bold.ttf") format("ttf");
  font-weight: bold;
}
body {
  font-family: "Cabin";
}

ion-searchbar {
  height: 7vh;
}

.searchbar-search-icon { display:none; width:0; height:0; }
.searchbar-input.sc-ion-searchbar-md  { padding: 6px 25px; font-weight: bold; height: 5vh; }

.slide-image {
//  height:5%;
  width: 35%;
  position:relative;
  left:5%;
}

//ion-icon[name='options']:before {
//  content: url('assets/img/but-filtercat-pressed.png');
//}

//ion-menu-button {
//  background-image : url("assets/img/but-filtercat-pressed.png");
//}
.slide-image:active {
  filter: brightness(1.5);
}

ion-menu-toggle > img:active {
  filter: brightness(1.5);
}

.filter {
  background-image : url("assets/img/bt-about-pressed.png");  
}

.slide-image2:active {
  filter: brightness(1.5);
}

.slide-image2 {
  //  height:5%;
    width: 15%;
    position:absolute;
    right:5%;
}

.slide-image3 {
//  height:5%;
    width: 14%;
    position: absolute;
    right: 18%;
    bottom: -8%;
}

ion-menu-button:hover {-webkit-filter: brightness(150%); }

ion-header {
  border-bottom: 3px #f26422;
}
.searchInput {
  border-radius:5%;
  color: #f26422;
  border: 2px solid #3bb663;
}
.searchbar-input.sc-ion-searchbar-md {
box-shadow:none !important;
}
.searchInputClear {
  box-shadow:none !important;
  margin-right:auto;
  margin-left:auto;
  width:90%;
}

ion-col {
  display : inline-block;
  //width:50%;
  transform: scale(1.05); //lastChecked
}
.nameOfTheBook{
  color:#3c52a4;
  font-size:12;
  padding:0px;
  line-height: 1.1 !important;
}
.nameOfTheAuthor{
  color:#1fb182;
  font-size:3vh;
  padding:0px;
  line-height: 1.1 !important;
}
.timeToRead{
  color:#bd9a10;
  font-size:3vh;
  padding:0px;
  line-height: 1.1 !important;
}
.noPadding{
  border:0px;
  padding:0px;
  margin:0px;
}
.newPadding{
  padding: 5px 5px;
}

ion-tabs ion-navbar-section { display: none; }

.ribbon {
  position:absolute;
  top:0;
  right:0;
  background-color: #f43636;
  color:white;
  border-radius:3%;
  padding: 3px;
  font-size:2.2vh;
}

.ribbon2 {
  position:absolute;
  top:0;
  right:0;
  background-color: #1485ed;
  color:white;
  border-radius:3%;
  padding: 2px;
  font-size:2.2vh;
}

.ribbon4 {
  position:absolute;
  top:15%;
  right:0;
  background-color: #1485ed;
  color:white;
  border-radius:3%;
  padding: 2px;
  font-size:2.2vh;
}
ion-col {
  padding:0 !important; 
}

ion-card {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}

ion-header {
//  height: 10%;
  box-shadow: none;
  border-bottom: 3px #f26422;
}

ion-header:after {
  // content: none;
  // border-bottom: 3px #f26422;
   background-color:#f26422;
   left: 0;
   bottom: -4px !important;
   background-position: left 0 top 0;
   position: absolute;
   width: 100%;
   height: 4px !important;
 }